<div class="form-group {{ class }} {% if error %}has-error{% endif %}">
    <label for="{{ name }}">{{ label }}</label>
    <input type="email" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value }}">
    {% if error %}<p class="help-block">{{ error }}</p>{% endif %}
</div>