<div class="form-group">
    <div class="{{ classLeft }}"></div>
    <div class="{{ classRight }}">
        <input type="hidden" name="{{ name }}" value="{{ value }}">
        <button type="submit" class="btn btn-primary" {% if disabled %}disabled{% endif %}>
            {{ label }}
        </button>
    </div>
</div>