<div class="form-group {{ class }}">
    <label class="{{ classLeft }} control-label">{{ label }}</label>
    <div class="{{ classRight }}">
        <p class="form-control-static">{{ value }}</p>
    </div>
</div>