<div class="form-group {{ class }}">
    <label for="{{ name }}" class="{{ classLeft }} control-label">{{ label }}</label>
    <div class="{{ classRight }}">
        <input type="checkbox" name="{{ name }}" {% if checked %}checked{% endif %} {% if disabled %}disabled{% endif %}>
    </div>
</div>