{% extends '::auth/base.html.twig' %}

{% block body %}

    <h2>
        Rejestracja
    </h2>

    <form method="post">

        <div class="form-group {% if errors.email %}has-error{% endif %}">
            <input type="email" class="form-control input-lg" name="email" value="{{ values.email }}" placeholder="{{ 'register.email'|trans }}">
            {% if errors.email %}<p class="help-block">{{ errors.email|trans }}</p>{% endif %}
        </div>

        <div class="form-group {% if errors.username %}has-error{% endif %}">
            <input type="text" class="form-control input-lg" name="username" value="{{ values.username }}" placeholder="{{ 'register.username'|trans }}">
            {% if errors.username %}<p class="help-block">{{ errors.username|trans }}</p>{% endif %}
        </div>

        <div class="form-group {% if errors.password %}has-error{% endif %}">
            <input type="password" class="form-control input-lg" name="password" value="{{ values.password }}" placeholder="{{ 'register.password'|trans }}">
            {% if errors.password %}<p class="help-block">{{ errors.password|trans }}</p>{% endif %}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">
                {{ 'register.button'|trans }}
            </button>
        </div>
    </form>

{% endblock %}